body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    background-image: url("../assets/img/road.jpg");
    color: aliceblue;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;

}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    color: aliceblue;

}
.homebg {
    background-image: url("../assets/img/road.jpg");
}

/* Add this to your customstyles.css or within a <style> block in your HTML */
.tableauPlaceholder {
    width: 100%; /* Adjust the width as needed */
    max-width: 700px; /* Set a maximum width to limit the size */
    height: auto; /* Maintain the aspect ratio */
}
